In [5]:
from collections import Counter
import random

import numpy as np
import pyarrow.dataset as ds
import duckdb
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as pl
import plotly.express as px


INDICADORES = {
    "AFD": "Adequação da Formação Docente",
    "ICG": "Complexidade de Gestão da Escola",
    "IED": "Esforço Docente",
    "ATU": "Média de Alunos por Turma",
    "HAD": "Média de Horas-aula diária",
    "DSU": "Percentual de Docentes com Curso Superior",
    "TDI": "Taxas de Distorção Idade-série"
}

DIMENSIONS = {
    "Ano": "NU_ANO_CENSO",
    "Nome da região geográfica": "NO_REGIAO",
    "Nome da Unidade da Federação": "NO_UF",
    "Nome da Mesorregião": "NO_MESORREGIAO",
    "Nome da Microrregião": "NO_MICRORREGIAO"
}

In [6]:
year = 2016
indicador = "AFD"
file = f"../../data/raw/{indicador}/{indicador}_{year}_ESCOLAS/{indicador}_ESCOLAS_{year}.xlsx"
df = pd.read_excel(file, nrows=15)

In [13]:
df.iloc[6:10, :]

,Unnamed: 0,Ministério da Educação,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Educação Infantil,...,EJA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Fundamental,NaN,NaN,NaN,NaN,Médio,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grupo 1,...,Grupo 1,Grupo 2,Grupo 3,Grupo 4,Grupo 5,Grupo 1,Grupo 2,Grupo 3,Grupo 4,Grupo 5
9,Ano,NO_REGIAO,SIGLA,PK_COD_MUNICIPIO,NO_MUNICIPIO,PK_COD_ENTIDADE,NO_ENTIDADE,TIPOLOCA,Dependad,AFD_INF1,...,AFD_EJAF1,AFD_EJAF2,AFD_EJAF3,AFD_EJAF4,AFD_EJAF5,AFD_EJAM1,AFD_EJAM2,AFD_EJAM3,AFD_EJAM4,AFD_EJAM5