In [1]:
from collections import Counter
import random

import pyarrow.dataset as ds
import duckdb
import pandas as pd


con = duckdb.connect()

dataset = ds.dataset("../../data/transformed.parquet", format="parquet", partitioning="hive")
con.register("censo", dataset)

In [3]:
# quantidade de matriculas
dimension = "NU_ANO_CENSO"
con.execute(f"""
    select
        {dimension},
        count(*)
    from censo
    group by {dimension}
    order by 1
    """
).df()

   NU_ANO_CENSO  count_star()
0          2016        237506
1          2017        236481
2          2018        236460
3          2019        228521
4          2020        224229
5          2021        221140

In [7]:
# quantidade de escolas
dimension = "NU_ANO_CENSO"
con.execute(f"""
    select
        {dimension},
        count(distinct(CO_ENTIDADE)) as 'quantidade de escolas'
    from censo
    group by {dimension}
    order by 2 desc
    """
).df()

   NU_ANO_CENSO  quantidade de escolas
0          2016                 237506
1          2017                 236481
2          2018                 236460
3          2019                 228521
4          2020                 224229
5          2021                 221140