In [1]:

import pandas as pd
import os

In [3]:
indicador = "AFD"
year = 2017
file = f"../../data/raw/{indicador}/{indicador}_{year}_ESCOLAS/{indicador}_ESCOLAS_{year}.xlsx"
df = pd.read_excel(
    file,
    na_values=["--"],
    #skiprows=10,
    #skipfooter=6
)

In [7]:
os.path.isfile(file)

True

In [6]:
import os

In [69]:
os.path.isfile("../../data/raw/DSU/DSU_2018_ESCOLAS/DSU_ESCOLAS_2018_ATUALZADO.xlsx")

False

In [62]:
df

,NU_ANO_CENSO,NO_REGIAO,SG_UF,NO_MUNICIPIO,CO_MUNICIPIO,TIPOLOCA,DEPENDAD,NO_ENTIDADE,CO_ENTIDADE,DSU_INF,DSU_CRE,DSU_PRE,DSU_FUN,DSU_F14,DSU_F58,DSU_MED,DSU_PROF,DSU_EJA,DSU_ESP
0,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
1,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.2,NaN
2,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,NaN,NaN,NaN,100.0,NaN,100.0,NaN,NaN,NaN,NaN
3,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,50.0,NaN,50.0,87.5,75.0,100.0,NaN,NaN,NaN,NaN
4,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024593,EMEIEF DARCY PENTEADO,Rural,Municipal,NaN,NaN,NaN,100.0,NaN,100.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185520,2016,Centro-Oeste,DF,5300108,Brasília,53083008,TIO PATINHAS ESC DE EDUC INF,Urbana,Privada,80.0,100.0,66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185521,2016,Centro-Oeste,DF,5300108,Brasília,53084012,CE SITIO ENCANTADO,Urbana,Privada,66.7,100.0,50.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
185522,2016,Centro-Oeste,DF,5300108,Brasília,53084020,ESC PEQUENO ENCANTO,Urbana,Privada,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
185523,2016,Centro-Oeste,DF,5300108,Brasília,53084039,COL ANCHIETA,Urbana,Privada,50.0,50.0,50.0,75.0,70.0,66.7,NaN,NaN,NaN,NaN
185524,2016,Centro-Oeste,DF,5300108,Brasília,53084055,COL MAPA,Urbana,Privada,NaN,NaN,NaN,100.0,100.0,100.0,100.0,NaN,NaN,NaN

In [ ]:
df["CO_ENTIDADE"], df["NO_ENTIDADE"] = df["NO_ENTIDADE"], df["CO_ENTIDADE"]
df["CO_MUNICIPIO"], df["NO_MUNICIPIO"] = df["NO_MUNICIPIO"], df["CO_MUNICIPIO"]

In [40]:
df.iloc[:,:9]

,NU_ANO_CENSO,NO_REGIAO,SG_UF,NO_MUNICIPIO,CO_MUNICIPIO,TIPOLOCA,DEPENDAD,NO_ENTIDADE,CO_ENTIDADE
0,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual
1,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual
2,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal
3,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal
4,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024593,EMEIEF DARCY PENTEADO,Rural,Municipal
...,...,...,...,...,...,...,...,...,...
185520,2016,Centro-Oeste,DF,5300108,Brasília,53083008,TIO PATINHAS ESC DE EDUC INF,Urbana,Privada
185521,2016,Centro-Oeste,DF,5300108,Brasília,53084012,CE SITIO ENCANTADO,Urbana,Privada
185522,2016,Centro-Oeste,DF,5300108,Brasília,53084020,ESC PEQUENO ENCANTO,Urbana,Privada
185523,2016,Centro-Oeste,DF,5300108,Brasília,53084039,COL ANCHIETA,Urbana,Privada
185524,2016,Centro-Oeste,DF,5300108,Brasília,53084055,COL MAPA,Urbana,Privada

In [132]:
df["CO_ENTIDADE"], df["NO_ENTIDADE"] = df["NO_ENTIDADE"], df["CO_ENTIDADE"]
df["CO_MUNICIPIO"], df["NO_MUNICIPIO"] = df["NO_MUNICIPIO"], df["CO_MUNICIPIO"]

In [9]:
df["NO_ENTIDADE"].astype("int64")

ValueError: invalid literal for int() with base 10: 'EIEEF HAP BITT TUPARI'

In [17]:
assert set(df.columns[:9]) == {'CO_ENTIDADE',
 'CO_MUNICIPIO',
 'NO_CATEGORIA',
 'NO_DEPENDENCIA',
 'NO_ENTIDADE',
 'NO_MUNICIPIO',
 'NO_REGIAO',
 'NU_ANO_CENSO',
 'SG_UF'}

In [46]:
indicador = "TDI"
year = 2016
df = pd.read_excel(
    f"../../data/raw/{indicador}/{indicador}_{year}_ESCOLAS/{indicador}_ESCOLAS_{year}.xlsx",
    skiprows=8,
    skipfooter=6,
    na_values=["--"]
)

df.rename(
    columns={
        "Ano": "NU_ANO_CENSO",
        "SIGLA": "SG_UF",
        "PK_COD_MUNICIPIO": "CO_MUNICIPIO",
        "PK_COD_ENTIDADE": "CO_ENTIDADE",
        "TIPOLOCA": "NO_CATEGORIA",
        "Dependad": "NO_DEPENDENCIA",
        "DEPENDAD": "NO_DEPENDENCIA"
    },
    inplace=True
)
# melt
id_vars = df.columns[:9]
value_vars = df.columns[9:]
df = df.melt(id_vars=id_vars, value_vars=value_vars, var_name="GRUPO", value_name="METRICA")

df["NU_ANO_CENSO"] = df["NU_ANO_CENSO"].astype("Int32")
#df[["CO_MUNICIPIO", "CO_ENTIDADE"]] = df[["CO_MUNICIPIO", "CO_ENTIDADE"]].astype("Int64")
df

,NU_ANO_CENSO,NO_REGIAO,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,CO_ENTIDADE,NO_ENTIDADE,NO_CATEGORIA,NO_DEPENDENCIA,GRUPO,METRICA
0,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,TDI_FUN,16.7
1,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,TDI_FUN,10.5
2,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,TDI_FUN,24.5
3,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024593,EMEIEF DARCY PENTEADO,Rural,Municipal,TDI_FUN,5.9
4,2016,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,TDI_FUN,17.3
...,...,...,...,...,...,...,...,...,...,...,...
2376051,2016,Centro-Oeste,DF,5300108,Brasília,53082001,COL IMPACTO,Urbana,Privada,TDI_M04,NaN
2376052,2016,Centro-Oeste,DF,5300108,Brasília,53082028,ESC DO ENS BASICO PINGUE PONGUE,Urbana,Privada,TDI_M04,NaN
2376053,2016,Centro-Oeste,DF,5300108,Brasília,53084012,CE SITIO ENCANTADO,Urbana,Privada,TDI_M04,NaN
2376054,2016,Centro-Oeste,DF,5300108,Brasília,53084020,ESC PEQUENO ENCANTO,Urbana,Privada,TDI_M04,NaN
2376055,2016,Centro-Oeste,DF,5300108,Brasília,53084039,COL ANCHIETA,Urbana,Privada,TDI_M04,NaN

In [57]:
a = ['NU_ANO_CENSO', 'NO_REGIAO', 'SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO',
       'CO_ENTIDADE', 'NO_ENTIDADE', 'NO_CATEGORIA', 'NO_DEPENDENCIA']

In [55]:
df.columns[:9] = range(10, 19)

TypeError: Index does not support mutable operations

In [59]:
dict(zip(df.columns[:9], a))

{0: 'NU_ANO_CENSO',
 1: 'NO_REGIAO',
 2: 'SG_UF',
 3: 'CO_MUNICIPIO',
 4: 'NO_MUNICIPIO',
 5: 'CO_ENTIDADE',
 6: 'NO_ENTIDADE',
 7: 'NO_CATEGORIA',
 8: 'NO_DEPENDENCIA'}

In [56]:
df.rename()

RangeIndex(start=0, stop=11, step=1)