In [1]:

import pandas as pd

In [ ]:
df = pd.read_excel(
    "../data/raw/AFD/AFD_2017_ESCOLAS/AFD_ESCOLAS_2017.xlsx",
    skiprows=10,
    skipfooter=6,
    na_values=["--"]
)

In [137]:
indicador = "DSU"
year = 2016
df = pd.read_excel(
    f"../data/raw/{indicador}/{indicador}_{year}_ESCOLAS/{indicador}_ESCOLAS_{year}.xlsx",
    na_values=["--"],
    #skiprows=8,
    skipfooter=6
)

In [139]:
df

,Unnamed: 0,Ministério da Educação,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,Instituto Nacional de Estudos...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Percentual de Docentes com Curso Superior na E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185529,2016,Centro-Oeste,DF,5300108,Brasília,53083008,TIO PATINHAS ESC DE EDUC INF,Urbana,Privada,80,100,66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185530,2016,Centro-Oeste,DF,5300108,Brasília,53084012,CE SITIO ENCANTADO,Urbana,Privada,66.7,100,50,50,50,NaN,NaN,NaN,NaN,NaN
185531,2016,Centro-Oeste,DF,5300108,Brasília,53084020,ESC PEQUENO ENCANTO,Urbana,Privada,100,100,100,100,100,NaN,NaN,NaN,NaN,NaN
185532,2016,Centro-Oeste,DF,5300108,Brasília,53084039,COL ANCHIETA,Urbana,Privada,50,50,50,75,70,66.7,NaN,NaN,NaN,NaN
185533,2016,Centro-Oeste,DF,5300108,Brasília,53084055,COL MAPA,Urbana,Privada,NaN,NaN,NaN,100,100,100,100,NaN,NaN,NaN

In [132]:
df["CO_ENTIDADE"], df["NO_ENTIDADE"] = df["NO_ENTIDADE"], df["CO_ENTIDADE"]

In [133]:
df["CO_ENTIDADE"] = df["CO_ENTIDADE"].astype("int64")

In [134]:
df

,NU_ANO_CENSO,NO_REGIAO,SG_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_ENTIDADE,CO_ENTIDADE,TIPOLOCA,DEPENDAD,ATU_INF,...,ATU_F06,ATU_F07,ATU_F08,ATU_UNIFICADA,ATU_MED,ATU_M01,ATU_M02,ATU_M03,ATU_M04,ATU_MNS
0,2016,Norte,RO,1100015,Alta Floresta D'Oeste,EIEEF HAP BITT TUPARI,11022558,Rural,Estadual,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,Norte,RO,1100015,Alta Floresta D'Oeste,EMMEF 7 DE SETEMBRO,11024291,Rural,Municipal,NaN,...,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,Norte,RO,1100015,Alta Floresta D'Oeste,EMEIEF ANA NERY,11024372,Urbana,Municipal,11.0,...,10.0,10.0,6.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,Norte,RO,1100015,Alta Floresta D'Oeste,EMEIEF DARCY PENTEADO,11024593,Rural,Municipal,NaN,...,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,Norte,RO,1100015,Alta Floresta D'Oeste,EMEIEF BOA ESPERANCA,11024666,Rural,Municipal,19.0,...,21.0,21.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179307,2016,Centro-Oeste,DF,5300108,Brasília,TIO PATINHAS ESC DE EDUC INF,53083008,Urbana,Privada,12.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179308,2016,Centro-Oeste,DF,5300108,Brasília,CE SITIO ENCANTADO,53084012,Urbana,Privada,11.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179309,2016,Centro-Oeste,DF,5300108,Brasília,ESC PEQUENO ENCANTO,53084020,Urbana,Privada,15.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179310,2016,Centro-Oeste,DF,5300108,Brasília,COL ANCHIETA,53084039,Urbana,Privada,10.6,...,11.0,14.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179311,2016,Centro-Oeste,DF,5300108,Brasília,COL MAPA,53084055,Urbana,Privada,NaN,...,34.5,41.5,35.0,NaN,30.5,36.0,25.0,NaN,NaN,NaN

In [112]:
indicador = "ATU"
year = 2016
df = pd.read_excel(
    f"../data/raw/{indicador}/{indicador}_{year}_ESCOLAS/{indicador}_ESCOLAS_{year}.xlsx",
    skiprows=10,
    skipfooter=6,
    na_values=["--"]
)

df.rename(
    columns={
        "Ano": "NU_ANO_CENSO",
        "SIGLA": "SG_UF",
        "PK_COD_MUNICIPIO": "CO_MUNICIPIO",
        "PK_COD_ENTIDADE": "CO_ENTIDADE",
        "TIPOLOCA": "NO_CATEGORIA",
        "Dependad": "NO_DEPENDENCIA"
    },
    inplace=True
)
# melt
id_vars = df.columns[:9]
value_vars = df.columns[9:]
df = df.melt(id_vars=id_vars, value_vars=value_vars, var_name="GRUPO", value_name="METRICA")

df["NU_ANO_CENSO"] = df["NU_ANO_CENSO"].astype("Int32")
df[["CO_MUNICIPIO", "CO_ENTIDADE"]] = df[["CO_MUNICIPIO", "CO_ENTIDADE"]].astype("Int64")
df

KeyError: 'NU_ANO_CENSO'

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3944820 entries, 0 to 3944819
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   2016                   int64
 1   Norte                  object
 2   RO                     object
 3   1100015                int64
 4   Alta Floresta D'Oeste  object
 5   11024291               int64
 6   EMMEF 7 DE SETEMBRO    object
 7   Rural                  object
 8   Municipal              object
 9   GRUPO                  object
 10  METRICA                float64
dtypes: float64(1), int64(3), object(7)
memory usage: 331.1+ MB